.root {
    -fx-font-family: "Segoe UI", "Inter", "Arial";
}


.background-layer {
    -fx-background-color: #0A0E27;
}

.content-card {
    -fx-background-color: #14192c;
    -fx-background-radius: 14px;

    -fx-border-color: #2b3553;
    -fx-border-width: 1px;
    -fx-border-radius: 14px;

    -fx-padding: 12px 16px;
    -fx-spacing: 14px;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 16, 0.2, 0, 4);
}